
ion-card-header {
  white-space: normal;
  text-align: center;

  p {
    font-size: 2em;
  }
}

ion-card-content {
  text-align: center;
}

ion-item-divider {
  text-align: center;

  ion-label {
    width: 100%;
  }
}


