:root {
  --ion-background-color: #ffffff;
  --ion-background-color-rgb: 255,255,255;

  --ion-text-color: #f6d374;
  --ion-text-color-rgb: 246,211,116;

  --ion-color-step-50: #fffdf8;
  --ion-color-step-100: #fefbf1;
  --ion-color-step-150: #fef8ea;
  --ion-color-step-200: #fdf6e3;
  --ion-color-step-250: #fdf4dc;
  --ion-color-step-300: #fcf2d5;
  --ion-color-step-350: #fcf0ce;
  --ion-color-step-400: #fbedc7;
  --ion-color-step-450: #fbebc0;
  --ion-color-step-500: #fbe9ba;
  --ion-color-step-550: #fae7b3;
  --ion-color-step-600: #fae5ac;
  --ion-color-step-650: #f9e2a5;
  --ion-color-step-700: #f9e09e;
  --ion-color-step-750: #f8de97;
  --ion-color-step-800: #f8dc90;
  --ion-color-step-850: #f7da89;
  --ion-color-step-900: #f7d782;
  --ion-color-step-950: #f6d57b;
}
