<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            <img src="assets/fidj-logo.png" height="15em"> Apps
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <!-- Default Refresher -->
    <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Apps</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-grid>
        <ion-row>
            <ion-col size-md="8" offset-md="2" size-sm="12">

                <ion-list *ngIf="profileAppsOwned">
                    <ion-item-sliding *ngFor="let appOwned of profileAppsOwned; let index = index">
                        <ion-item>
                            <ion-label>{{appOwned.title}} - {{appOwned.description}}</ion-label>
                          <a href="{{appOwned.pub}}"><img src="{{appOwned.badge}}"/></a>
                        </ion-item>
                    </ion-item-sliding>
                </ion-list>

            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>
