<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button href="#/my/profile">
            <ion-icon name="leaf-outline"></ion-icon>
            <ion-label>Profile</ion-label>
        </ion-tab-button>

        <ion-tab-button href="#/my/gdpr">
            <ion-icon name="pulse-outline"></ion-icon>
            <ion-label>GDPR</ion-label>
        </ion-tab-button>

        <ion-tab-button href="#/my/apps">
            <ion-icon name="layers-outline"></ion-icon>
            <ion-label>Apps</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
